body{
    margin: 0;
}
.contenedor {
    display: flex;
    justify-content: center; 
   /*  justify-content: start;
    justify-content: end; */
    flex-wrap: wrap;
}

.box{
    width: 25%;
}

.box img{
    width: 100%;
}